@model pruebaelTiempo.Models.response

@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">

    <table class="table">
        <thead>
            <tr>
                <th>Título</th>
                <th>Descripción</th>
                <th>Imagen</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.collection.items)
            {
                <tr>

                    <td>@item.data[0].title</td>
                    <td>@item.data[0].description</td>
                    <td>
                        @if (item.links != null)
                        {
                            <img src="@item.links[0].href" class="img-thumbnail" alt="...">
                        }
                    </td>

                </tr>
            }
        </tbody>
    </table>

</div>